body{
    background-color: black;
}

.jumbotron{
    background-image: url('assets/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin: none;
    padding: none;
} 

h1{
    font-family: 'Fredoka One', cursive;
    color: white;
}
